.catchButton {
    margin-bottom: 10px;
    all: unset;
    border-radius: 5px;
    border: 2px solid transparent;
    background: rgba(255, 255, 255, 0.5);
    padding: 8px 16px;
    font-size: 16px;
    min-width: 150px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: 0.6s ease;
    margin-bottom: 10px;
}

.catchButton:hover:enabled {
    border-color: #fff;
}

.catchButton:active:enabled {
    background: #fff;
    transition: 0.2s ease;
}

.catched {
    background-color: cadetblue;
    color: white;
}

